doctype html
html(ng-app='runner2', lang='en')
  head
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    title RUG Runner
    include views/master/stylesheets
  body
    .off-canvas-wrap(data-offcanvas='')
      .inner-wrap
        div(ns-nav)  
        div(bc-side-menu)
        section.main-section
          include views/master/body
          include views/master/footer
        a.exit-off-canvas
    include views/master/scripts