// http://clrs.cc/

@NAVY:    #001F3F;
@BLUE:    #0074D9;
@AQUA:    #7FDBFF;
@TEAL:    #39CCCC;
@OLIVE:   #3D9970;
@GREEN:   #2ECC40;
@LIME:    #01FF70;
@YELLOW:  #FFDC00;
@ORANGE:  #FF851B;
@RED:     #FF4136;
@MAROON:  #85144B;
@FUCHSIA: #F012BE;
@PURPLE:  #B10DC9;
@BLACK:   #111111;
@GRAY:    #AAAAAA;
@SILVER:  #DDDDDD;

body{
  background-color: @SILVER;
}

div[ui-view]:nth-of-type(1){
  height: 95vh;
}

input.ng-invalid, select.ng-invalid{
  background-color: @RED;
}

footer p{
  padding-top: 10px;
  color: #777;
}

/************************************/
//            MODAL                 //
/************************************/

.reveal-modal{
  min-height: 300px;
}

.ng-modal {
  transition: 0.2s ease-in-out opacity;
}

.ng-modal .reveal-modal {
  display: block;
  visibility: visible;
}

.ng-modal .reveal-modal-bg {
  display: block;
}

.ng-modal.ng-hide-add,
.ng-modal.ng-hide-remove{
  display: block !important;
}

.ng-modal.ng-hide{
  opacity: 0;
}

.reveal-modal{
  transition: 0.2s ease-in-out all;
  transition-delay: 0.2s;
  -webkit-transform: scale(1);
  opacity: 1;
}

.reveal-modal.ng-hide-add,
.reveal-modal.ng-hide-remove{
  display: block !important;
}

.reveal-modal.ng-hide{
  -webkit-transform: scale(0.9);
  opacity: 0;
}
