h4 TREATMENTS

table
  thead
    tr
      th Date
      th Client
      th Discipline
      th Therapist
      th Insurance
      th Projected Mins
      th Actual Mins
      th Note Done?
      th Archived?
      th Edit
      th Remove
  tbody
    tr(ng-repeat='t in treatments | orderBy: \'tx_date\'')
      td {{dateMoDaYr(t.tx_date)}}
      td {{t.client_last}}, {{t.client_first}}
      td {{t.disc_abbr}}
      td {{t.therapist_last}}, {{t.therapist_first}}
      td {{t.ins_name}}
      td {{t.mins_expected}}
      td {{t.mins_actual}}
      td {{t.is_note_done ? 'Yes' : 'No'}}
      td {{t.is_archived ? 'Yes' : 'No'}}
      th: a(ng-click='toggleModal(t)') edit
      th: a(ng-click='nuke(t.id)') delete

button.button(ng-click='toggleModal({})') Create
      
div(bc-modal, ng-class='{"modal-display": modalShown}', show='modalShown', obj='{{selected}}', folder='treatments', file='edit', save='save(data)')
            
