h4 INSURANCES

table
  thead
    tr
      th Name
      th Is RUG?
      th Edit
  tbody
    tr(ng-repeat='i in insurances | orderBy: \'name\'')
      td {{i.name}}
      td {{i.is_rug}}
      td: a(ng-click='toggleModal(i)') edit

button.button(ng-click='toggleModal({})') Create

div(bc-modal, show='modalShown', obj='{{selected}}', folder='insurances', file='edit', save='save(data)')
