h4 THERAPISTS

table
  thead
    tr
      th Photo
      th Name
      th Discipline
      th Type
      th Productivity
      th Email
      th Phone
      th Schedule
      th Edit
  tbody
    tr(ng-repeat='t in therapists | orderBy: \'last\'')
      td: .photo-thumbnail(style='background-image: url({{t.photo}})')
      td {{t.last}}, {{t.first}}
      td {{t.disc_abbr}}
      td {{t.is_therapist ? 'Therapist' : 'Assistant'}}
      td {{t.productivity_goal}}%
      td {{t.email}}
      td {{t.phone}}
      td: a(ui-sref="workSched({id:t.id})") schedule
      td: a(ng-click='toggleModal(t)') edit
          
button.button(ng-click='toggleModal({})') Create

div(bc-modal, ng-class='{"modal-display": modalShown}', show='modalShown', obj='{{selected}}', folder='therapists', file='edit', save='save(data)')
