h4 TREATMENT PLANS

table
  thead
    tr
      th Name
      th Discipline
      th Eval Therapist
      th Eval Date
      th Weekly Day
      th Recert Date
      th Discharge Date
      th Frequency
      th Edit
      tbody
        tr(ng-repeat='t in txPlans| orderBy: \'client_last\'')
          td: a(ui-sref="txPlan({id:t.client_id})")  {{t.client_last}}, {{t.client_first}}
          td {{t.disc_abbr}}
          td {{t.eval_therapist_last}}, {{t.eval_therapist_first}}
          td {{dateMoDaYr(t.eval_date)}}
          td {{t.weekly_abbr}}
          td {{dateMoDaYr(t.recert_date)}}
          td {{dateMoDaYr(t.discharge_date)}}
          td {{t.frequency_low}}-{{t.frequency_high}}x /wk
          td: a(ng-click='toggleModal(t)') edit
          
          //- button.button(ng-click='toggleModal({})') Create
          
          div(bc-modal, show='modalShown', obj='{{selected}}', folder='txplans', file='edit', save='save(data)')
            
