script(src='/vendor/jquery/dist/jquery.min.js')
script(src='/vendor/foundation/js/foundation.min.js')
script(src='/vendor/angular/angular.min.js')
script(src='/vendor/angular-animate/angular-animate.min.js')
script(src='/vendor/angular-ui-router/release/angular-ui-router.min.js')
script(src='/vendor/underscore/underscore-min.js')
script(src='/vendor/toastr/toastr.min.js')
script(src='/vendor/moment/min/moment.min.js')
script(src='/vendor/ng-file-upload/angular-file-upload-shim.min.js')
script(src='/vendor/ng-file-upload/angular-file-upload.min.js')

script(src='/config/toastr.js')
script(src='/index.js')
script(src='/views/users/users.js')
script(src='/views/clients/clients.js')
script(src='/views/days/days.js')
script(src='/views/disciplines/disciplines.js')
script(src='/views/home/home.js')
script(src='/views/insurances/insurances.js')
script(src='/views/precautions/precautions.js')
script(src='/views/therapists/therapists.js')
script(src='/views/treatments/treatments.js')
script(src='/views/txplans/txplans.js')
script(src='/views/workschedules/workschedules.js')
script(src='/components/factories/client.js')
script(src='/components/factories/day.js')
script(src='/components/factories/discipline.js')
script(src='/components/factories/insurance.js')
script(src='/components/factories/precaution.js')
script(src='/components/factories/therapist.js')
script(src='/components/factories/treatment.js')
script(src='/components/factories/txplan.js')
script(src='/components/factories/user.js')
script(src='/components/factories/workschedule.js')
script(src='/components/directives/ns-nav/ns-nav.js')
script(src='/components/directives/bc-sidemenu/bc-sidemenu.js')
script(src='/components/directives/bc-modal/bc-modal.js')

script.
  $(document).foundation();
