h4(ng-cloak) {{therapist.therapist_first}} {{therapist.therapist_last}}'s Work Schedule  
table
  thead
    tr
      th Day
      th Start
      th End
      th Hours
      th Late Evals?
      th Edit
      th Remove
      tbody
        tr(ng-repeat='ws in workSchedules | orderBy: \'day_num\'')
          td {{::ws.day_abbr}}
          td {{::formatAmPm(ws.start_time)}}
          td {{::formatAmPm(ws.end_time)}}
          td {{::timeDiff(ws.start_time, ws.end_time)}}
          td {{::ws.is_late_eval ? 'YES' : '---'}}
          td: a(ng-click='toggleModal(ws)') edit
          td: a(ng-click='nuke(ws.id)') delete
          
button.button(ng-click='toggleModal(therapist)') Create
            
div(bc-modal, ng-class='{"modal-display": modalShown}', show='modalShown', obj='{{selected}}', folder='workschedules', file='edit', save='save(data)')
