nav.tab-bar
  section.left-small
    a.left-off-canvas-toggle.menu-icon(href='#')
      span
  section.middle.tab-bar-section
    h1.title RUG Runner
  section.right.tab-bar-section
   a(href='#'): i.fa.fa-check-square-o.fa-lg
   a(href='#'): i.fa.fa-calculator.fa-lg
   a(href='#'): i.fa.fa-calendar.fa-lg